{% if modern_form %}
  <div id="app">
    <ds-form webform-id="{{element['#webform_id']}}"></ds-form>
  </div>
{% else %}
  <form{{ attributes }}>
    {{ title_prefix }}
    {{ children }}
    {{ title_suffix }}
  </form>
{% endif %}
